.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.width-zero {
  width: 0;
}

.keep-width-full {
  width: 100% !important;
}

.keep-width-half {
  width: 50% !important;
}

.keep-width-zero {
  width: 0 !important;
}
