.transparent-color {
  color: transparent !important;
}

.transparent-bd {
  border-color: transparent !important;
}

@each $name in $direction-names {
  .transparent-bd-#{$name} {
    border-#{$name}-color: transparent !important;
  }
}

.transparent-bg {
  background-color: transparent !important;
}
