.#{$ns-input-number} {
  position: relative;
  display: inline-block;

  .#{$ns-input} {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }
  }

  & > .#{$ns-input}-clearable > .#{$ns-input}-clear-icon {
    right: 4em;
  }
}

.#{$ns-input-number}-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
  -webkit-appearance: none;
  appearance: none;
  border-top-right-radius: $default-border-radius;
  border-bottom-right-radius: $default-border-radius;
  overflow: hidden;

  $border-color: #aaa;

  & > .#{$ns-input-number}-button {
    height: 50%;
    width: 2.5em;
    border: 1px solid transparent;
    background: transparent;
    border-left-color: $border-color;
    outline: none;
  }

  & > .#{$ns-input-number}-plus {
    border-top-right-radius: $default-border-radius;
    border-bottom: none;
  }

  & > .#{$ns-input-number}-minus {
    border-bottom-right-radius: $default-border-radius;
    border-top-color: $border-color;
  }
}