$minHeight: 'min-height';
$height: 'height';
$width: 'width';

$margin: 'margin';
$margin-top: 'margin-top';
$margin-right: 'margin-right';
$margin-bottom: 'margin-bottom';
$margin-left: 'margin-left';

$padding: 'padding';
$padding-top: 'padding-top';
$padding-right: 'padding-right';
$padding-bottom: 'padding-bottom';
$padding-left: 'padding-left';

$border: 'border';
$border-top: 'border-top';
$border-right: 'border-right';
$border-bottom: 'border-bottom';
$border-left: 'border-left';

$border-radius: 'border-radius';
$box-sizing: 'box-sizing';

$text-align: 'text-align';
$vertical-align: 'vertical-align';

$display: 'display';

$top: 'top';
$right: 'right';
$bottom: 'bottom';
$left: 'left';

$direction-names: ($top, $right, $bottom, $right);
