// size setting
@mixin size-of-input($name: $default-size-name) {
  $setting: map_get($size-map, $name);
  font-size: map_get($setting, 'fontSize');
  @include set-liner-height(map_get($setting, $height), 1px);
  //@include set-padding-h(map_get($setting, 'inputPadding'));
}

@mixin sizes-of-input-item() {
  @include size-of-input();
  @each $name in map_keys($size-map) {
    @if ($name != $default-size-name) {
      &.#{$ns-input}-#{$name} {
        @include size-of-input($name);
      }
    }
  }
}

.#{$ns-input} {
  position: relative;
  padding: 0 1em;
  border: 1px solid $default-input-border-color;
  width: $default-input-width;
  @include set-display(inline-block);
  @include set-transition-duration();
  @include set-align-middle();
  @include set-border-box();
  @include set-border-radius();
  @include set-mouse-style(false, text);
  font-weight: normal;
  outline: none;

  /*
   ghost 默认状态是透明背景，默认边框颜色，默认字体颜色
   */
  &.#{$ns-input}-ghost:not([disabled]) {
    background: transparent;

    &:hover {
      background: rgba(#fff, .4);
    }

    &:active, &:focus {
      background: #fff;
      color: #000;
    }
  }

  &.#{$ns-input}-radius {
    @include set-border-radius(999px);
  }

  &:focus {
    z-index: 1;
  }

  @include sizes-of-input-item();

  // 颜色
  @mixin color-of-input() {
    $color: map_get($color-map, $default-color-name);
    &:hover {
      z-index: 1;
      border-color: hover-color($color);
      box-shadow: 0 0 0 3px rgba(hover-color($color), $hover-opacity);
    }
    &:active, &:focus {
      border-color: active-color($color);
      box-shadow: 0 0 0 3px rgba(active-color($color), $active-opacity);
    }
  }

  @include color-of-input();

  // 只读或只可看的设置
  &[disabled], &[readonly], &.#{$ns-input}-viewonly {
    box-shadow: none !important;

    &.#{$ns-input}-ghost {
      background: transparent !important;
    }
  }

  &[disabled], &[readonly] {
    border-color: $default-input-border-color !important;
  }

  &.#{$ns-input}-viewonly {
    border-color: transparent !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.#{$ns-input}-clearable {
  position: relative;
  display: inline-block;
  width: $default-input-width;
  @include set-align-middle();
  @include sizes-of-input-item();

  & > .#{$ns-input}-clear-icon {
    position: absolute;
    display: none;
    top: 50%;
    right: 1.8em;
    transform: translate(-50%);
    z-index: 1;
  }

  &:hover > .#{$ns-input}-clear-icon {
    display: block;
  }

  &:focus-within {
    z-index: 1;
  }

  & > .#{$ns-input} {
    width: 100%;
    padding-right: 2em;
  }
}
