$icon-font-family: toClassName('moonsky-font');

i[class^=#{$ns-icon}-], span[class^=#{$ns-icon}-], .#{$ns-icon} {
  font-family: 'imoonsky-ui-iconfont', serif !important;
  font-style: normal;
  speak: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icon-name-content-map: (
  'check-circle':'\e77d',
  'CI':'\e77e',
  'Dollar':'\e77f',
  'compass':'\e780',
  'close-circle':'\e781',
  'frown':'\e782',
  'info-circle':'\e783',
  'left-circle':'\e784',
  'down-circle':'\e785',
  'EURO':'\e786',
  'copyright':'\e787',
  'minus-circle':'\e788',
  'meh':'\e789',
  'plus-circle':'\e78a',
  'play-circle':'\e78b',
  'question-circle':'\e78c',
  'Pound':'\e78d',
  'right-circle':'\e78e',
  'smile':'\e78f',
  'trademark':'\e790',
  'time-circle':'\e791',
  'time-out':'\e792',
  'earth':'\e793',
  'YUAN':'\e794',
  'up-circle':'\e795',
  'warning-circle':'\e796',
  'sync':'\e797',
  'transaction':'\e798',
  'undo':'\e799',
  'redo':'\e79a',
  'reload':'\e79b',
  'reload-time':'\e79c',
  'message':'\e79d',
  'dashboard':'\e79e',
  'issues-close':'\e79f',
  'poweroff':'\e7a0',
  'logout':'\e7a1',
  'pie-chart':'\e7a2',
  'setting':'\e7a3',
  'eye':'\e7a4',
  'location':'\e7a5',
  'edit-square':'\e7a6',
  'export':'\e7a7',
  'save':'\e7a8',
  'Import':'\e7a9',
  'app-store':'\e7aa',
  'close-square':'\e7ab',
  'down-square':'\e7ac',
  'layout':'\e7ad',
  'left-square':'\e7ae',
  'play-square':'\e7af',
  'control':'\e7b0',
  'code-library':'\e7b1',
  'detail':'\e7b2',
  'minus-square':'\e7b3',
  'plus-square':'\e7b4',
  'right-square':'\e7b5',
  'project':'\e7b6',
  'wallet':'\e7b7',
  'up-square':'\e7b8',
  'calculator':'\e7b9',
  'interation':'\e7ba',
  'check-square':'\e7bb',
  'border':'\e7bc',
  'border-outer':'\e7bd',
  'border-top':'\e7be',
  'border-bottom':'\e7bf',
  'border-left':'\e7c0',
  'border-right':'\e7c1',
  'border-inner':'\e7c2',
  'border-verticle':'\e7c3',
  'border-horizontal':'\e7c4',
  'radius-bottomleft':'\e7c5',
  'radius-bottomright':'\e7c6',
  'radius-upleft':'\e7c7',
  'radius-upright':'\e7c8',
  'radius-setting':'\e7c9',
  'add-user':'\e7ca',
  'delete-team':'\e7cb',
  'delete-user':'\e7cc',
  'addteam':'\e7cd',
  'user':'\e7ce',
  'team':'\e7cf',
  'area-chart':'\e7d0',
  'line-chart':'\e7d1',
  'bar-chart':'\e7d2',
  'point-map':'\e7d3',
  'container':'\e7d4',
  'database':'\e7d5',
  'sever':'\e7d6',
  'mobile':'\e7d7',
  'tablet':'\e7d8',
  'red-envelope':'\e7d9',
  'book':'\e7da',
  'file-done':'\e7db',
  'reconciliation':'\e7dc',
  'file-exception':'\e7dd',
  'file-sync':'\e7de',
  'file-search':'\e7df',
  'solution':'\e7e0',
  'file-protect':'\e7e1',
  'file-add':'\e7e2',
  'file-excel':'\e7e3',
  'file-exclamation':'\e7e4',
  'file-pdf':'\e7e5',
  'file-image':'\e7e6',
  'file-markdown':'\e7e7',
  'file-unknown':'\e7e8',
  'file-ppt':'\e7e9',
  'file-word':'\e7ea',
  'file':'\e7eb',
  'file-zip':'\e7ec',
  'file-text':'\e7ed',
  'file-copy':'\e7ee',
  'snippets':'\e7ef',
  'audit':'\e7f0',
  'diff':'\e7f1',
  'Batch-folding':'\e7f2',
  'security-scan':'\e7f3',
  'property-safety':'\e7f4',
  'safety-certificate':'\e7f5',
  'insurance':'\e7f6',
  'alert':'\e7f7',
  'delete':'\e7f8',
  'hourglass':'\e7f9',
  'bulb':'\e7fa',
  'experiment':'\e7fb',
  'bell':'\e7fc',
  'trophy':'\e7fd',
  'rest':'\e7fe',
  'USB':'\e7ff',
  'skin':'\e800',
  'home':'\e801',
  'bank':'\e802',
  'filter':'\e803',
  'funnel-plot':'\e804',
  'like':'\e805',
  'unlike':'\e806',
  'unlock':'\e807',
  'lock':'\e808',
  'customerservice':'\e809',
  'flag':'\e80a',
  'money-collect':'\e80b',
  'medicinebox':'\e80c',
  'shop':'\e80d',
  'rocket':'\e80e',
  'shopping':'\e80f',
  'folder':'\e810',
  'folder-open':'\e811',
  'folder-add':'\e812',
  'deployment-unit':'\e813',
  'account-book':'\e814',
  'contacts':'\e815',
  'carry-out':'\e816',
  'calendar-check':'\e817',
  'calendar':'\e818',
  'scan':'\e819',
  'select':'\e81a',
  'box-plot':'\e81b',
  'build':'\e81c',
  'sliders':'\e81d',
  'laptop':'\e81e',
  'barcode':'\e81f',
  'camera':'\e820',
  'cluster':'\e821',
  'gateway':'\e822',
  'car':'\e823',
  'printer':'\e824',
  'read':'\e825',
  'cloud-server':'\e826',
  'cloud-upload':'\e827',
  'cloud':'\e828',
  'cloud-download':'\e829',
  'cloud-sync':'\e82a',
  'video':'\e82b',
  'notification':'\e82c',
  'sound':'\e82d',
  'radar-chart':'\e82e',
  'qrcode':'\e82f',
  'fund':'\e830',
  'image':'\e831',
  'mail':'\e832',
  'table':'\e833',
  'id-card':'\e834',
  'credit-card':'\e835',
  'heart':'\e836',
  'block':'\e837',
  'error':'\e838',
  'star':'\e839',
  'gold':'\e83a',
  'heat-map':'\e83b',
  'wifi':'\e83c',
  'attachment':'\e83d',
  'edit':'\e83e',
  'key':'\e83f',
  'api':'\e840',
  'disconnect':'\e841',
  'highlight':'\e842',
  'monitor':'\e843',
  'link':'\e844',
  'man':'\e845',
  'percentage':'\e846',
  'pushpin':'\e847',
  'phone':'\e848',
  'shake':'\e849',
  'tag':'\e84a',
  'wrench':'\e84b',
  'tags':'\e84c',
  'scissor':'\e84d',
  'mr':'\e84e',
  'share':'\e84f',
  'branches':'\e850',
  'fork':'\e851',
  'shrink':'\e852',
  'arrawsalt':'\e853',
  'vertical-right':'\e854',
  'vertical-left':'\e855',
  'right':'\e856',
  'left':'\e857',
  'up':'\e858',
  'down':'\e859',
  'fullscreen':'\e85a',
  'fullscreen-exit':'\e85b',
  'doubleleft':'\e85c',
  'double-right':'\e85d',
  'arrowright':'\e85e',
  'arrowup':'\e85f',
  'arrowleft':'\e860',
  'arrowdown':'\e861',
  'upload':'\e862',
  'colum-height':'\e863',
  'vertical-align-botto':'\e864',
  'vertical-align-middl':'\e865',
  'totop':'\e866',
  'vertical-align-top':'\e867',
  'download':'\e868',
  'sort-descending':'\e869',
  'sort-ascending':'\e86a',
  'fall':'\e86b',
  'swap':'\e86c',
  'stock':'\e86d',
  'rise':'\e86e',
  'indent':'\e86f',
  'outdent':'\e870',
  'menu':'\e871',
  'unordered-list':'\e872',
  'ordered-list':'\e873',
  'align-right':'\e874',
  'align-center':'\e875',
  'align-left':'\e876',
  'pic-center':'\e877',
  'pic-right':'\e878',
  'pic-left':'\e879',
  'bold':'\e87a',
  'font-colors':'\e87b',
  'exclaimination':'\e87c',
  'font-size':'\e87d',
  'infomation':'\e87e',
  'line-height':'\e87f',
  'strikethrough':'\e880',
  'underline':'\e881',
  'number':'\e882',
  'italic':'\e883',
  'code':'\e884',
  'column-width':'\e885',
  'check':'\e886',
  'ellipsis':'\e887',
  'dash':'\e888',
  'close':'\e889',
  'enter':'\e88a',
  'line':'\e88b',
  'minus':'\e88c',
  'question':'\e88d',
  'rollback':'\e88e',
  'small-dash':'\e88f',
  'pause':'\e890',
  'bg-colors':'\e891',
  'crown':'\e892',
  'drag':'\e893',
  'desktop':'\e894',
  'gift':'\e895',
  'stop':'\e896',
  'fire':'\e897',
  'thunderbolt':'\e898',
  'check-circle-fill':'\e899',
  'left-circle-fill':'\e89a',
  'down-circle-fill':'\e89b',
  'minus-circle-fill':'\e89c',
  'close-circle-fill':'\e89d',
  'info-circle-fill':'\e89e',
  'up-circle-fill':'\e89f',
  'right-circle-fill':'\e8a0',
  'plus-circle-fill':'\e8a1',
  'question-circle-fill':'\e8a2',
  'EURO-circle-fill':'\e8a3',
  'frown-fill':'\e8a4',
  'copyright-circle-fil':'\e8a5',
  'CI-circle-fill':'\e8a6',
  'compass-fill':'\e8a7',
  'Dollar-circle-fill':'\e8a8',
  'poweroff-circle-fill':'\e8a9',
  'meh-fill':'\e8aa',
  'play-circle-fill':'\e8ab',
  'Pound-circle-fill':'\e8ac',
  'smile-fill':'\e8ad',
  'stop-fill':'\e8ae',
  'warning-circle-fill':'\e8af',
  'time-circle-fill':'\e8b0',
  'trademark-circle-fil':'\e8b1',
  'YUAN-circle-fill':'\e8b2',
  'heart-fill':'\e8b3',
  'pie-chart-circle-fil':'\e8b4',
  'dashboard-fill':'\e8b5',
  'message-fill':'\e8b6',
  'check-square-fill':'\e8b7',
  'down-square-fill':'\e8b8',
  'minus-square-fill':'\e8b9',
  'close-square-fill':'\e8ba',
  'code-library-fill':'\e8bb',
  'left-square-fill':'\e8bc',
  'play-square-fill':'\e8bd',
  'up-square-fill':'\e8be',
  'right-square-fill':'\e8bf',
  'plus-square-fill':'\e8c0',
  'account-book-fill':'\e8c1',
  'carry-out-fill':'\e8c2',
  'calendar-fill':'\e8c3',
  'calculator-fill':'\e8c4',
  'interation-fill':'\e8c5',
  'project-fill':'\e8c6',
  'detail-fill':'\e8c7',
  'save-fill':'\e8c8',
  'wallet-fill':'\e8c9',
  'control-fill':'\e8ca',
  'layout-fill':'\e8cb',
  'app-store-fill':'\e8cc',
  'mobile-fill':'\e8cd',
  'tablet-fill':'\e8ce',
  'book-fill':'\e8cf',
  'red-envelope-fill':'\e8d0',
  'safety-certificate-f':'\e8d1',
  'property-safety-fill':'\e8d2',
  'insurance-fill':'\e8d3',
  'security-scan-fill':'\e8d4',
  'file-exclamation-fil':'\e8d5',
  'file-add-fill':'\e8d6',
  'file-fill':'\e8d7',
  'file-excel-fill':'\e8d8',
  'file-markdown-fill':'\e8d9',
  'file-text-fill':'\e8da',
  'file-ppt-fill':'\e8db',
  'file-unknown-fill':'\e8dc',
  'file-word-fill':'\e8dd',
  'file-zip-fill':'\e8de',
  'file-pdf-fill':'\e8df',
  'file-image-fill':'\e8e0',
  'diff-fill':'\e8e1',
  'file-copy-fill':'\e8e2',
  'snippets-fill':'\e8e3',
  'batch-folding-fill':'\e8e4',
  'reconciliation-fill':'\e8e5',
  'folder-add-fill':'\e8e6',
  'folder-fill':'\e8e7',
  'folder-open-fill':'\e8e8',
  'database-fill':'\e8e9',
  'container-fill':'\e8ea',
  'sever-fill':'\e8eb',
  'calendar-check-fill':'\e8ec',
  'image-fill':'\e8ed',
  'id-card-fill':'\e8ee',
  'credit-card-fill':'\e8ef',
  'fund-fill':'\e8f0',
  'read-fill':'\e8f1',
  'contacts-fill':'\e8f2',
  'delete-fill':'\e8f3',
  'notification-fill':'\e8f4',
  'flag-fill':'\e8f5',
  'money-collect-fill':'\e8f6',
  'medicine-box-fill':'\e8f7',
  'rest-fill':'\e8f8',
  'shopping-fill':'\e8f9',
  'skin-fill':'\e8fa',
  'video-fill':'\e8fb',
  'sound-fill':'\e8fc',
  'bulb-fill':'\e8fd',
  'bell-fill':'\e8fe',
  'filter-fill':'\e8ff',
  'fire-fill':'\e900',
  'funnel-plot-fill':'\e901',
  'gift-fill':'\e902',
  'hourglass-fill':'\e903',
  'home-fill':'\e904',
  'trophy-fill':'\e905',
  'location-fill':'\e906',
  'cloud-fill':'\e907',
  'customerservice-fill':'\e908',
  'experiment-fill':'\e909',
  'eye-fill':'\e90a',
  'like-fill':'\e90b',
  'lock-fill':'\e90c',
  'unlike-fill':'\e90d',
  'star-fill':'\e90e',
  'unlock-fill':'\e90f',
  'alert-fill':'\e910',
  'api-fill':'\e911',
  'highlight-fill':'\e912',
  'phone-fill':'\e913',
  'edit-fill':'\e914',
  'pushpin-fill':'\e915',
  'rocket-fill':'\e916',
  'thunderbolt-fill':'\e917',
  'tag-fill':'\e918',
  'wrench-fill':'\e919',
  'tags-fill':'\e91a',
  'bank-fill':'\e91b',
  'camera-fill':'\e91c',
  'error-fill':'\e91d',
  'crown-fill':'\e91e',
  'mail-fill':'\e91f',
  'car-fill':'\e920',
  'printer-fill':'\e921',
  'shop-fill':'\e922',
  'setting-fill':'\e923',
  'USB-fill':'\e924',
  'golden-fill':'\e925',
  'build-fill':'\e926',
  'box-plot-fill':'\e927',
  'sliders-fill':'\e928',
  'alibaba':'\e929',
  'alibabacloud':'\e92a',
  'ant-design':'\e92b',
  'ant-cloud':'\e92c',
  'behance':'\e92d',
  'google-plus':'\e92e',
  'medium':'\e92f',
  'google':'\e930',
  'IE':'\e931',
  'amazon':'\e932',
  'slack':'\e933',
  'alipay':'\e934',
  'taobao':'\e935',
  'zhihu':'\e936',
  'HTML5':'\e937',
  'linkedin':'\e938',
  'yahoo':'\e939',
  'facebook':'\e93a',
  'skype':'\e93b',
  'chrome':'\e93d',
  'codepen':'\e93e',
  'aliwangwang':'\e93f',
  'apple':'\e940',
  'android':'\e941',
  'sketch':'\e942',
  'Gitlab':'\e943',
  'dribbble':'\e944',
  'instagram':'\e945',
  'reddit':'\e946',
  'windows':'\e947',
  'yuque':'\e948',
  'Youtube':'\e949',
  'Gitlab-fill':'\e94a',
  'dropbox':'\e94b',
  'dingtalk':'\e94c',
  'android-fill':'\e94d',
  'apple-fill':'\e94e',
  'HTML5-fill':'\e94f',
  'windows-fill':'\e950',
  'QQ':'\e951',
  'twitter':'\e952',
  'skype-fill':'\e953',
  'weibo':'\e954',
  'yuque-fill':'\e955',
  'Youtube-fill':'\e956',
  'yahoo-fill':'\e957',
  'wechat-fill':'\e958',
  'chrome-fill':'\e959',
  'alipay-circle-fill':'\e95a',
  'aliwangwang-fill':'\e95b',
  'behance-circle-fill':'\e95c',
  'amazon-circle-fill':'\e95d',
  'codepen-circle-fill':'\e95e',
  'dropbox-circle-fill':'\e960',
  'github-fill':'\e961',
  'dribbble-circle-fill':'\e962',
  'google-plus-circle-f':'\e963',
  'medium-circle-fill':'\e964',
  'QQ-circle-fill':'\e965',
  'IE-circle-fill':'\e966',
  'google-circle-fill':'\e967',
  'dingtalk-circle-fill':'\e968',
  'sketch-circle-fill':'\e969',
  'slack-circle-fill':'\e96a',
  'twitter-circle-fill':'\e96b',
  'taobao-circle-fill':'\e96c',
  'weibo-circle-fill':'\e96d',
  'zhihu-circle-fill':'\e96e',
  'reddit-circle-fill':'\e96f',
  'alipay-square-fill':'\e970',
  'dingtalk-square-fill':'\e971',
  'behance-square-fill':'\e973',
  'amazon-square-fill':'\e974',
  'codepen-square-fill':'\e975',
  'dribbble-square-fill':'\e976',
  'dropbox-square-fill':'\e977',
  'facebook-fill':'\e978',
  'google-plus-square-f':'\e979',
  'google-square-fill':'\e97a',
  'instagram-fill':'\e97b',
  'IE-square-fill':'\e97c',
  'medium-square-fill':'\e97d',
  'linkedin-fill':'\e97e',
  'QQ-square-fill':'\e97f',
  'reddit-square-fill':'\e980',
  'twitter-square-fill':'\e981',
  'sketch-square-fill':'\e982',
  'slack-square-fill':'\e983',
  'taobao-square-fill':'\e984',
  'weibo-square-fill':'\e985',
  'zhihu-square-fill':'\e986',
  'zoom-out':'\e987',
  'apartment':'\e988',
  'audio':'\e989',
  'audio-fill':'\e98a',
  'robot':'\e98b',
  'zoom-in':'\e98c',
  'robot-fill':'\e98d',
  'bug-fill':'\e98e',
  'bug':'\e98f',
  'audio-static':'\e990',
  'comment':'\e991',
  'signal-fill':'\e992',
  'verified':'\e993',
  'shortcut-fill':'\e994',
  'videocamera-add':'\e995',
  'switch-user':'\e996',
  'whatsapp':'\e997',
  'appstore-add':'\e998',
  'caret-down':'\e999',
  'backward':'\e99a',
  'caret-up':'\e99b',
  'caret-right':'\e99c',
  'caret-left':'\e99d',
  'fast-backward':'\e99e',
  'forward':'\e99f',
  'fast-forward':'\e9a0',
  'search':'\e9a1',
  'retweet':'\e9a2',
  'login':'\e9a3',
  'step-backward':'\e9a4',
  'step-forward':'\e9a5',
  'swap-right':'\e9a6',
  'swap-left':'\e9a7',
  'woman':'\e9a8',
  'plus':'\e9a9',
  'eye-close-fill':'\e9aa',
  'eye-close':'\e9ab',
  'clear':'\e9ac',
  'collapse':'\e9ad',
  'expand':'\e9ae',
  'delete-column':'\e9af',
  'merge-cells':'\e9b0',
  'subnode':'\e9b1',
  'rotate-left':'\e9b2',
  'rotate-right':'\e9b3',
  'insert-row-below':'\e9b4',
  'insert-row-above':'\e9b5',
  'table1':'\e9b6',
  'solit-cells':'\e9b7',
  'format-painter':'\e9b8',
  'insert-row-right':'\e9b9',
  'format-painter-fill':'\e9ba',
  'insert-row-left':'\e9bb',
  'translate':'\e9bc',
  'delete-row':'\e9bd',
  'sisternode':'\e9be',
);

@each $icon-name in map_keys($icon-name-content-map) {
  $now-name: to-lower-case($icon-name);
  .#{$ns-icon}-#{$now-name}::before {
    content: map_get($icon-name-content-map, $icon-name);
  }
}
